.nav-link {
    font: normal normal 600 19px/26px Segoe UI;
}
a.nav-link {
    color: red;
}

/* Define standard variables and values for website */
$bgcolor: lightblue;
$textcolor: darkblue;
$fontsize: 18px;

/* Use the variables */
body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
}